@import "~bootstrap/scss/bootstrap"

.Landing
  display: flex
  justify-content: center

.GlobalNavbar
  background-color: #343a40
  position: sticky
  top: 0
  .GlobalNavbarContent
    margin: auto
    width: 1000px

.Home
  .Feed
    margin: 20px auto
    width: 1000px
    height: 2000px
    background-color: lightblue
